N8N_TimeTracking.json
{
  "name": "TimeTracking",
  "nodes": [
    {
      "parameters": {
        "authentication": "headerAuth",
        "path": "tt/projects",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b8febf9e-deeb-457b-ba4f-7d9456d7ecbb",
      "name": "Get Projects",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        200,
        260
      ],
      "webhookId": "4faeec95-7740-4f0b-b8b8-c8a523d0ff52",
      "credentials": {
        "httpHeaderAuth": {
          "id": "K5gS4hSdXrPsiMWJ",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "path": "tt/tasks",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "73bca5cc-18a9-4219-8e75-0c6873d76bc4",
      "name": "Get Tasks",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        200,
        460
      ],
      "webhookId": "40b9e842-29eb-4836-b00f-c773018be826",
      "credentials": {
        "httpHeaderAuth": {
          "id": "K5gS4hSdXrPsiMWJ",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "httpMethod": "POST",
        "path": "tt/log",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8f589aef-b00e-4221-a3ba-29a791b41523",
      "name": "Create Log",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        200,
        660
      ],
      "webhookId": "d835ba2b-c5ac-4b78-b297-6b1a2d991061",
      "credentials": {
        "httpHeaderAuth": {
          "id": "K5gS4hSdXrPsiMWJ",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "da0329d5-1d32-4fde-8c6c-82fa16417f22",
      "name": "Return Projects",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        760,
        260
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "d1c36b91-958b-4624-b9de-dc7e729cdf27",
          "mode": "list",
          "cachedResultName": "Projekte",
          "cachedResultUrl": "https://www.notion.so/d1c36b91958b4624b9dedc7e729cdf27"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "7b05ed4a-7f96-4c3e-8cc8-2ce51ec8971e",
      "name": "Read Projects",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        480,
        260
      ],
      "credentials": {
        "notionApi": {
          "id": "8AwcWLrSMUmDPuRN",
          "name": "TimeTracker"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "ff3c0fb6-3a84-4d5a-ba91-5077ee36d3e4",
          "mode": "list",
          "cachedResultName": "Tasks",
          "cachedResultUrl": "https://www.notion.so/ff3c0fb63a844d5aba915077ee36d3e4"
        },
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Projekte|relation",
              "condition": "contains",
              "relationValue": "={{ $json.query.project }}"
            },
            {
              "key": "Status|status",
              "condition": "does_not_equal",
              "statusValue": "Erledigt"
            }
          ]
        },
        "options": {}
      },
      "id": "6de3dd78-bc0f-45a2-8fa3-d483b12684c7",
      "name": "Read and Filter Tasks",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        480,
        460
      ],
      "credentials": {
        "notionApi": {
          "id": "8AwcWLrSMUmDPuRN",
          "name": "TimeTracker"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "ea914fda-4c19-41c7-8d33-bd57b7ffca39",
      "name": "Return Tasks",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        760,
        460
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "dcfc1b4e-7173-4cd0-a0a7-92ca2fea48fb",
      "name": "Return Ok/Not Ok",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        640
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "048c68b7-c92a-470c-940f-fa08c3d51c73",
          "mode": "list",
          "cachedResultName": "Logs",
          "cachedResultUrl": "https://www.notion.so/048c68b7c92a470c940ffa08c3d51c73"
        },
        "title": "={{ $json.body.bezeichnung }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Projekte|relation",
              "relationValue": [
                "={{ $json.body.project }}"
              ]
            },
            {
              "key": "Tasks|relation",
              "relationValue": [
                "={{ $json.body.task }}"
              ]
            },
            {
              "key": "Datum|date",
              "includeTime": false,
              "date": "={{ $json.body.date }}",
              "timezone": "Europe/Berlin"
            },
            {
              "key": "Time from|rich_text",
              "textContent": "={{ $json.body.from }}"
            },
            {
              "key": "Time to|rich_text",
              "textContent": "={{ $json.body.to }}"
            },
            {
              "key": "Manual Comment|rich_text",
              "textContent": "={{ $json.body.kommentar }}"
            }
          ]
        },
        "options": {}
      },
      "id": "13dcdb39-7920-4acb-a19b-724f4aca7e2f",
      "name": "Write Log",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        480,
        660
      ],
      "credentials": {
        "notionApi": {
          "id": "8AwcWLrSMUmDPuRN",
          "name": "TimeTracker"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "35ba6390-c46c-49ec-9252-227eb68ddd8f",
              "leftValue": "={{ $node[\"Create Log\"].json[\"body\"].status }}",
              "rightValue": "=In Bearbeitung",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "92baaf46-5d80-49b6-a243-4b4bb1c9db28",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        760,
        660
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $node[\"Write Log\"].json[\"property_tasks\"][0] }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|status",
              "statusValue": "Erledigt"
            }
          ]
        },
        "options": {}
      },
      "id": "94667d21-856a-490a-a1fd-b8ccfbfc6e91",
      "name": "Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        760,
        920
      ],
      "credentials": {
        "notionApi": {
          "id": "8AwcWLrSMUmDPuRN",
          "name": "TimeTracker"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf1f1ef3-1fdc-4867-9d3c-31e21b249135",
              "name": "Project number",
              "value": "={{ $json['property_project_number'] }}",
              "type": "string"
            },
            {
              "id": "4947a08c-9154-4b20-bcb5-050b55c46684",
              "name": "Project name",
              "value": "={{ $json['property_project_name'] }}",
              "type": "string"
            },
            {
              "id": "8cf8811d-a9c9-4652-a213-2d381941d4ff",
              "name": "Task number",
              "value": "={{ $json['property_task_number'] }}",
              "type": "string"
            },
            {
              "id": "7caf1880-1743-4242-be29-ad87a6de2f07",
              "name": "Task name",
              "value": "={{ $json['property_task_name'] }}",
              "type": "string"
            },
            {
              "id": "5b209e97-a55f-401e-8791-f7562a53fd64",
              "name": "Type",
              "value": "={{ $json['property_type'] }}",
              "type": "string"
            },
            {
              "id": "8ca7db58-13b1-4dbc-9c85-76af76655cb2",
              "name": "Date",
              "value": "={{ $json['property_date'] }}",
              "type": "string"
            },
            {
              "id": "ea82942f-e980-40c6-b02d-efc831eed1ca",
              "name": "Hours",
              "value": "={{ $json['property_hours'].toFixed(2) }}",
              "type": "number"
            },
            {
              "id": "154e8de4-bac5-4500-bfbc-2b2f27007bb5",
              "name": "Comment",
              "value": "={{ $json['property_comment'] }}",
              "type": "string"
            },
            {
              "id": "c312f82c-cf31-4220-b736-dfb7a10ddad8",
              "name": "Time from",
              "value": "={{ $json['property_time_from'] }}",
              "type": "string"
            },
            {
              "id": "91aedc09-1bac-4575-b863-ad8a552bd884",
              "name": "Time to",
              "value": "={{ $json['property_time_to'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "72cbd74c-d770-4ac3-8f04-4165304dda49",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        820,
        1180
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "=Timecard_{{ new Date().format(\"yyyy-MM-dd-HH-mm\") }}.xlsx"
        }
      },
      "id": "4f7fde21-8720-4672-ab15-fdc7581f77d9",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1040,
        1180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "10b24abc-5939-4517-948a-6e74d1c05acc",
              "leftValue": "={{ $('Get Logs').item.json.query.to }}",
              "rightValue": "={{ $('Read Logs').item.json.property_date_helper }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": false
        }
      },
      "id": "8f798fe1-e79a-41d8-9fd1-4dc66e2a8221",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        680,
        1460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c028596d-bcda-448f-bc42-a078417fb187",
              "leftValue": "={{ $('Get Logs').item.json.query.to }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "867cacaf-934e-4cc0-95a8-4868bbbc18c9",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        1200
      ]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "content-disposition",
                "value": "=filename=\"Timecard_{{ new Date().format(\"yyyy-MM-dd-HH-mm\") }}.xlsx\""
              }
            ]
          }
        }
      },
      "id": "7f3acc33-a8b8-49ca-a877-f9748b516dd7",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1260,
        1180
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "path": "tt/logs",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "75278afc-d76f-40dd-9cc8-2bb6d5c84dd2",
      "name": "Get Logs",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        120,
        1200
      ],
      "webhookId": "0d4bc33c-4eb9-4bd5-9ce3-b040f2d97757",
      "credentials": {
        "httpHeaderAuth": {
          "id": "K5gS4hSdXrPsiMWJ",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "048c68b7-c92a-470c-940f-fa08c3d51c73",
          "mode": "list",
          "cachedResultName": "Logs",
          "cachedResultUrl": "https://www.notion.so/048c68b7c92a470c940ffa08c3d51c73"
        },
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Datum|date",
              "condition": "on_or_after",
              "date": "={{ $json.query.from }}"
            }
          ]
        },
        "options": {
          "sort": {
            "sortValue": [
              {
                "key": "Datum|date",
                "direction": "ascending"
              },
              {
                "key": "Time from|rich_text",
                "direction": "ascending"
              }
            ]
          }
        }
      },
      "id": "9525d4d0-5401-4be9-8e7a-7e82acdf90aa",
      "name": "Read Logs",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.1,
      "position": [
        340,
        1200
      ],
      "credentials": {
        "notionApi": {
          "id": "8AwcWLrSMUmDPuRN",
          "name": "TimeTracker"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "path": "tt/meeting",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e8597255-81e9-44da-b208-7bb4f41b6d45",
      "name": "Get Meeting",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        200,
        -100
      ],
      "webhookId": "4faeec95-7740-4f0b-b8b8-c8a523d0ff52",
      "credentials": {
        "httpHeaderAuth": {
          "id": "K5gS4hSdXrPsiMWJ",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "d1c36b91-958b-4624-b9de-dc7e729cdf27",
          "mode": "list",
          "cachedResultName": "Projekte",
          "cachedResultUrl": "https://www.notion.so/d1c36b91958b4624b9dedc7e729cdf27"
        },
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Meeting|checkbox",
              "condition": "equals",
              "checkboxValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "6c1ab120-5567-45ab-b7a7-f747613e8012",
      "name": "Find Meeting",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        480,
        -100
      ],
      "credentials": {
        "notionApi": {
          "id": "8AwcWLrSMUmDPuRN",
          "name": "TimeTracker"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "35e84d3e-fc65-4a8f-870d-e2d795207646",
      "name": "Return Meeting",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        760,
        -100
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "ff3c0fb6-3a84-4d5a-ba91-5077ee36d3e4",
          "mode": "list",
          "cachedResultName": "Tasks",
          "cachedResultUrl": "https://www.notion.so/ff3c0fb63a844d5aba915077ee36d3e4"
        },
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Projekte|relation",
              "condition": "contains",
              "relationValue": "={{ $json.query.project }}"
            },
            {
              "key": "Bezeichnung|title",
              "condition": "equals",
              "titleValue": "Meeting - Standup"
            },
            {
              "key": "Status|status",
              "condition": "does_not_equal",
              "statusValue": "Erledigt"
            }
          ]
        },
        "options": {}
      },
      "id": "ae3544ad-0b40-4f62-8aea-1d8408c278d9",
      "name": "Read and Filter Tasks1",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        480,
        60
      ],
      "credentials": {
        "notionApi": {
          "id": "8AwcWLrSMUmDPuRN",
          "name": "TimeTracker"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "path": "tt/daily",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "09c66354-7f84-4251-a1e6-967224afeec8",
      "name": "Get Daily",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        200,
        60
      ],
      "webhookId": "40b9e842-29eb-4836-b00f-c773018be826",
      "credentials": {
        "httpHeaderAuth": {
          "id": "K5gS4hSdXrPsiMWJ",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "ad4ac151-f855-42b9-b417-649c39edc51d",
      "name": "Return Daily",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        760,
        60
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Get Projects": {
      "main": [
        [
          {
            "node": "Read Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tasks": {
      "main": [
        [
          {
            "node": "Read and Filter Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Log": {
      "main": [
        [
          {
            "node": "Write Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Projects": {
      "main": [
        [
          {
            "node": "Return Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read and Filter Tasks": {
      "main": [
        [
          {
            "node": "Return Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Log": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Return Ok/Not Ok",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "main": [
        [
          {
            "node": "Return Ok/Not Ok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Logs": {
      "main": [
        [
          {
            "node": "Read Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Logs": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Meeting": {
      "main": [
        [
          {
            "node": "Find Meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Meeting": {
      "main": [
        [
          {
            "node": "Return Meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read and Filter Tasks1": {
      "main": [
        [
          {
            "node": "Return Daily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Daily": {
      "main": [
        [
          {
            "node": "Read and Filter Tasks1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "34d31569-4df8-45df-bb3f-f8aa993ba528",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "77c62383f9e93beabe65dd177e7beea49f458a0650493dc6a23fbe2d2add420e"
  },
  "id": "kHrIrtPiaItV3Dgq",
  "tags": []
}